/* imports */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

/* CSS Variables */

:root {
    --primary-font: "Abril Fatface", serif;
    --secondary-font: "Source Serif 4", serif;
}

/* General Styles */

body {
    font-family: var(--primary-font);
}

/* Navbar Styles */

#navbar {
    background-color: #6D4FD0;
    color: #FFFFFF;

    position: sticky;
    top: 0;
    z-index: 10;
}

#navbar .nav-item {
    color: white !important;
}

#navbar .logo {
    width: 30px;
}

/* Header Styles */

/* Footer Styles */

.footer {
    background-color: #6D4FD0;
}